<h1>Propostas de TCC teste</h1>
<!-- <button [routerLink]="['/inicio', 'propostas-de-tcc', 'cadastro-tcc']">Cadastrar Proposta de TCC</button> -->
<button (click)="abrir(undefined)">Cadastrar Proposta de TCC</button>
<p>A lista a seguir apresenta suas propostas de TCC. Clique em um item da lista para ver mais detalhes.</p>

<div class="list-group" *ngIf="propostas">
    <!-- <a [routerLink]="['/inicio', 'propostas-de-tcc', proposta.id]" -->
    <a class="list-group-item list-group-item-action d-flex justify-content-between"
        *ngFor="let proposta of propostas.results">
        <strong (click)="abrir(proposta)" >{{proposta.titulo}}</strong>
        <div>
            <div class="badge badge-success" *ngIf="proposta.aprovada === true">Aprovada</div>
            <div class="badge badge-warning" *ngIf="proposta.aprovada === false">Não aprovada</div>
            <div class="badge badge-info" *ngIf="proposta.aprovada == null">Não avaliada</div>
        </div>
    </a>
</div>

<div class="alert alert-info" *ngIf="!propostas">
    <strong>Aguarde</strong>. Carregando...
</div>