<div class="container" *ngIf="user">
    <h3>Olá, seja bem-vindo(a)!</h3>

  
        <!-- <h5 class="card-title">Você está logado!</h5> -->
        <fieldset disabled>
            <div class="row">
                <h4 class="card-subtitle mb-3">Suas informações de usuário</h4>
                <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <label for="disabledTextInput">Id</label>
                    <input type="text" class="form-control" placeholder="{{user.id}}">
                </div>
                <div class="col-xs-6 col-sm-4">
                    <label for="disabledTextInput">Usuário</label>
                    <input type="text" class="form-control" placeholder="{{user.username}}">
                </div>
                <div class="col-xs-6 col-sm-4">
                    <label for="disabledTextInput">E-mail</label>
                    <input type="text" class="form-control" placeholder="{{user.email}}">
                </div>
            </div>
            <!-- <div>
                <div class="campo">data e hora de expiração do token</div>
                <div class="valor">
                    {{user.token_expires|date:'short'}}
                </div>
            </div> -->
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-primary" (click)="logout()">
                <i class="fas fa-door-open"></i>
                Sair
            </button>
        </div> -->
        </fieldset>

      <br><br>

      <div *ngIf="perfil">

        <!-- <h5 class="card-title">Você está logado!</h5> -->
        <fieldset disabled>
        <div class="row">
            <h4 class="card-subtitle mt-4">Informações do registro</h4>
            <div class="row">
            <div class="col-xs-6 col-sm-3">
                <label for="disabledTextInput">Id</label>
                <input type="text" class="form-control" placeholder="{{perfil.id}}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <label for="disabledTextInput">Data de cadastro</label>
                <input type="text" class="form-control" placeholder="{{perfil.cadastrado_em | date:'short'}}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <label for="disabledTextInput">Data de atualização</label>
                <input type="text" class="form-control" placeholder="{{perfil.atualizado_em | date:'short'}}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <label for="disabledTextInput">E-mail</label>
                <input type="text" class="form-control" placeholder="{{user.email}}">
            </div>
            </div>
            </div>
        </fieldset>
					
				

					<fieldset disabled>
						<div class="row">
							<h4 class="card-subtitle mt-4">Informações pessoais e documentação</h4>
								<div class="row">
									<div class="col-xs-6 col-sm-4">
											<label for="disabledTextInput">Nome</label>
											<input type="text" class="form-control" placeholder="{{perfil.nome}}">
									</div>
									<div class="col-xs-6 col-sm-4">
											<label for="disabledTextInput">Sexo</label>
											<input *ngIf="perfil.sexo == 'm'" type="text" class="form-control" value="Masculino">
											<input *ngIf="perfil.sexo != 'm'" type="text" class="form-control" value="Feminino">
									</div>
									<div class="col-xs-6 col-sm-4">
											<label for="disabledTextInput">CPF</label>
											<input type="text" class="form-control" placeholder="{{perfil.cpf}}">
									</div>
								</div>
							</div>
						</fieldset>

						<br><br>
						<fieldset disabled>
							<div class="row">
								<h4 class="card-subtitle mt-4">Informações de contato</h4>
									<div class="row">
										<div class="col-xs-6 col-sm-6">
												<label for="disabledTextInput">E-mail (do usuário)</label>
												<input type="text" class="form-control" placeholder="{{user.email}}">
										</div>
										<div class="col-xs-6 col-sm-6">
												<label for="disabledTextInput">Telefone</label>
												<input type="text" class="form-control" placeholder="{{perfil.telefone}}">
										</div>
									</div>
								</div>
							</fieldset>

								<br><br>
								<fieldset disabled>
									<div class="row">
										<h4 class="card-subtitle mt-4">Informações de correspondência</h4>
											<div class="row">
												<div class="col-xs-6 col-sm-4">
														<label for="disabledTextInput">Endereço</label>
														<input type="text" class="form-control" placeholder="{{perfil.endereco}}">
												</div>
												<div class="col-xs-6 col-sm-4">
														<label for="disabledTextInput">cidade / UF</label>
														<input type="text" class="form-control" placeholder="{{perfil.cidade}} / {{perfil.estado_uf}}">
												</div>
												<div class="col-xs-6 col-sm-4">
														<label for="disabledTextInput">CEP</label>
														<input type="text" class="form-control" placeholder="{{perfil.cep}}">
												</div>
											</div>
										</div>
									</fieldset>

            </div>
        </div>

        <div class="card text-white bg-warning" *ngIf="temPerfil === false">
            <div class="card-header"><i class="fas fa-info-circle" aria-hidden="true"></i> Aviso</div>
            <div class="card-body">
                <h5 class="card-title">Você não possui um perfil</h5>
                <p class="card-text">Você ainda não cadastrou um perfil. A funcionalidade de cadastro estará disponível
                    em breve a partir desta tela.</p>
            </div>
        </div>
