<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        
        <a class="navbar-brand" [routerLink]="['/inicio']">Orienta</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['/inicio']" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Início</a>
                <a class="nav-item nav-link" [routerLink]="['/inicio', 'propostas-de-tcc-lista']" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Propostas de TCC</a>
                <a class="nav-item nav-link" [routerLink]="['/inicio', 'propostas-de-estagio-lista']" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Propostas de estágio</a>
            </div>
        </div>
    </div>
</nav> -->

<div class="container">
    <router-outlet></router-outlet>
</div>