<!-- {{autenticado}} -->
<nav *ngIf="autenticado" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SGAPE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a (click)="abrir($event, '/inicio/propostas-de-tcc-lista')">Proposta TCC</a></li>
          <li><a (click)="logout()">SAIR</a></li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<router-outlet></router-outlet>
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                Linguagem de Programação para a Web &copy; 2020
            </div>
            <div class="col">
                Este é um software de demonstração dos recursos do Angular e do Django
            </div>
        </div>
    </div>
</footer>